{% extends "base.html" %}

{% block title %}Mis Turnos - TurnoYa{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Gestión de Turnos</h2>

        {% if user.paciente %}
           <a href="{% url 'app:nuevo_turno' %}" class="btn btn-success">
            <i class="bi bi-plus-circle"></i>
            Sacar Nuevo Turno
           </a>
        {% endif %} 
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle shadow-sm bg-white">
            <thead class="table-success text-dark">
                <tr>
                    <th>Fecha y Hora</th>
                    {% if user.medico %}
                       <th>Paciente</th>
                    {% else %}
                       <th>Médico/a</th>
                    {% endif %}
                    
                    <th>Motivo de consulta</th>
                    
                    <th class="text-center">Estado</th>

                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for turno in turnos %}
                <tr>
                    <td class="fw-semibold">
                        {{ turno.fecha_hora|date:"d/m/Y - H:i" }} hs
                    </td>

                    {% if user.medico %}
                        <td>{{ turno.paciente.nombre_completo }}</td>
                    {% else %}
                        <td>{{ turno.medico.nombre_completo }} <small class="text-muted">{{ turno.medico.especialidad }}</small></td>
                    {% endif %}

                    <td>{{ turno.motivo }}</td>

                    <td class="text-center">
                        {% if turno.estado == "PENDIENTE" %}
                           <span class="badge bg-warning text-dark px-3 py-2">Pendiente</span>
                        {% elif turno.estado == "CONFIRMADO" %}
                           <span class="badge bg-success px-3 py-2">Confirmado</span>
                        {% elif turno.estado == "CANCELADO" %}
                           <span class="badge bg-danger px-3 py-2">Cancelado</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if turno.estado == 'PENDIENTE' %}

                            {% if user.is_staff or user.medico == turno.medico %}
                                <form action="{% url 'app:confirmar_turno' turno.pk %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success btn-sm mb-1">
                                        <i class="bi bi-check-circle"></i> Aceptar
                                    </button>
                               </form>
                            {% endif %}

                            {% if user.is_staff or user == turno.paciente.usuario or user == turno.medico.usuario %}
                               <a href="{% url 'app:cancelar_turno' turno.pk %}" class="btn btn-danger btn-sm mb-1">
                                  <i class="bi bi-x-circle"></i> Cancelar
                               </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center text-muted py-5">
                        <p class="mb-0 fs-5">No tenés turnos programados en el sistema.</p>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
